:root {
    --brown:#684A2A;
    --heading-two: 40px;
    --card-titles: 25px;
    --text: 18px;
    --heading-one:60px;
    --mobile-heading-one:50px;
    --mobile-heading-two:30px;
    --mobile-text:14px;
    --new-colour:#38618C;

}
*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Lato', sans-serif;
}
button {
    background-color:var(--new-colour) !important;
    border:2px solid var(--new-colour) ;
    border-radius:2rem;
    padding:0.5rem 1rem;
    font-weight:700;
    cursor:pointer;
    color:white;
}
ul {
    list-style:none;
}
a {
    color:black;
    text-decoration: none;
}
header,
section,
main,
footer {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.wrapper {
    width:100%;
    max-width:1440px;
    padding:6rem 4rem;
}
p {
    line-height:1.75;
}
h2 {
    text-align:center;
}
/**** Header *****/
header {
    position:fixed;
    background-color:#FFFFFF;
    backdrop-filter:blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index:11;
}
.header-wrapper {
    width:100%;
    max-width:1440px;
    padding:1rem 4rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header-wrapper ul {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    gap:2rem;
}
.header-wrapper img:nth-child(1) {
    width:150px;
}
.menu {
    width:50px;
    display:none;
}

@media (max-width:1050px) {
    .header-wrapper ul {
        display:none;
    }
    .menu {
        display:block;
    }
}
@media (max-width:700px) {
    .header-wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:552px) {
    .header-wrapper {
        padding-inline:1rem;
    }
}
/****** Hero *******/
main {
    overflow:hidden !important;
    max-height:850px;
    background-image:linear-gradient(#00000060, #00000060),  url(../jbi-grid-new/gallery-hero.png);
    background-repeat: no-repeat;
    background-size:cover;;
    background-position: center;
    
}
main .wrapper {
    padding-top:18rem;
    padding-bottom:12rem;
    overflow:visible;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow:hidden !important;
}

.hero-content button {
    padding-inline:4rem;
    padding-block:1rem;
}
.hero-content {
    z-index:10;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:white;
    gap:1rem;
}
.hero-content p {
    width:100%;
    max-width:60ch;
    text-align:center;
}
h1 {
    color:white;
    font-size:var(--heading-one);
    width:100%;
    text-align:center;
    font-weight:700;
}

@media (max-width:864px) {
    h1 {
        font-size: 55px;
    }
}
@media (max-width:786px) {
    h1 {
        font-size: var(--mobile-heading-one);
    }
    br {
        display:none;
    }
}
@media (max-width:700px) {
 main .wrapper {
    padding-inline:2rem;
 }
}
@media (max-width:500px) {
 main .wrapper {
    padding-inline:1rem;
 }
 main .wrapper P {
    font-size:var(--mobile-text);
 }
}
@media (max-width:435px) {
    h1 {
        font-size: 45px;
    }
    br {
        display:none;
    }
}
.dropdown {
    position:relative !important;
    display:none;
    z-index:10000 !important;

    
}
.dropdown-menu {
    position:absolute;
    right:0;
    top:calc(100% + 0.5rem);
    padding:1.5rem;
    background-color:white;
    box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.1);
    display:grid;
    grid-template-columns:1fr 1fr;
    width:max-content;
    opacity:0;
    transform:translateY(-1rem);
    transition:opacity 0.5s, transform 0.5s;
    pointer-events:none;
    gap:2rem;
    border-radius:24px;

   
}
.dropdown-heading > a {
    font-weight:500 !important;
}
.dropdown-links {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}
.dropdown-links a {
    font-weight:500 !important;
}
.div {
    display:flex;
    flex-direction: column;
    gap:0.5rem;
}

.dropdown.active > .link + .dropdown-menu {
    opacity:1;
    transform:translateY(0);
    pointer-events:all;
    transition:opacity 0.5s, transform 0.5s;

}
.menu + .dropdown-menu {
    padding-block:2rem;
}
.dropdown-heading > p {
    font-weight:700 !important;
}
.dropdown > a {
    font-weight:500 !important;
}
.menu {
    width:50px !important;
    display:none;
}
@media (max-width:1050px) {
    .menu {
        display:block;
        cursor:pointer;
    }
    nav {
        display:none;
    }
    .dropdown {
        displaY:block;
    }
}
@media (max-width:324px) {
    .dropdown-menu {
        grid-template-columns: 1fr;
    }
}
/***********************/

.past-work .wrapper {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:2rem;
    padding-block:6rem;
}
.past-work img {
    width:100%;
    object-fit:cover;
    aspect-ratio:1/1;
}
.first-project,
.blue {
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:6rem;
}
.titles {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.titles h2 {
    font-size:var(--heading-two);
}
.titles p:nth-child(1) {
    color:var(--new-colour);
    font-weight:700;
}
.titles p:nth-of-type(2) {
    font-weight:300;
    margin-top:1rem;
}
.first-project img {
    border-radius:24px;
    object-fit:cover;
}
.first,
.second,
.third,
.fourth{
    display:grid;
    width:100%;
    gap:1rem;
    grid-template-columns:repeat(auto-fit, minmax(250px, 1fr) );
}

.third {
    grid-template-columns:1fr 1fr 1fr;

}

.third img:nth-child(4) {
   grid-column:1 / span 2;
   width:50%;
   place-self:center;
   grid-row:2;
}

.third img:nth-child(5) {
   grid-column: 2 / span 2;
   width:50%;
   grid-row:2;
   place-self:center;
}
.third img:nth-child(5) {
    grid-column: 2 / span 2;
    width:50%;
    place-self:center;
}
.fourth {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr) );
}

@media (max-width:1095px) {
    .third {
        grid-template-columns:1fr 1fr;
    
    }
    
    .third img:nth-child(4) {
       grid-column:auto;
       width:100%;
       place-self:center;
       grid-row:auto;
    }
    
    .third img:nth-child(5) {
       grid-column: auto ;
       width:100%;
       grid-row:auto;
       place-self:center;
    }
   
}
@media (max-width:580px) {
    .third {
        grid-template-columns: 1fr;
    }
}
@media (max-width:700px) {
    .past-work .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .past-work .wrapper {
        padding-inline:1rem;
    }
}
/***** Footer *****/
footer .wrapper {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-bottom {
    border-top:1px solid black;
    width:100%;
    display:flex;
    justify-content: space-between;
    padding-block:2rem;
}
.footer-top {
    display:flex;
    width:100%;
    justify-content: space-between;
    padding-block:2rem;

}
.footer-top ul {
    display:flex;
    align-items: center;
    width:100%;
    justify-content: flex-end;
    gap:2rem;
}
.social-icons {
    display:flex;
    align-items: center;
    justify-content: flex-end;
    gap:1rem;
    width:25%;
}
.logo {
    width:25%;
}
.social-icons img {
    width:50px;
}
.social-icons img:nth-child(2) {
    width:35px;
}
footer ul li {
    width:max-content;
}
@media (max-width:1050px) {
    .footer-top {
        flex-direction: column;
        align-items: center;
        gap:4rem;
    }
    .footer-top ul {
        flex-direction: column;
        align-items: center;
    }
    .logo,
    .social-icons,
    .footer-top ul {
        width:100%;
        display:flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width:750px) {
    .footer-bottom {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center !important;
        gap:4rem;
    }
}
@media (max-width:700px) {
    .footer .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    footer li,
    footer p  {
        font-size:var(--mobile-text);
    }
    footer .wrapper {
        padding-inline:1rem;
    }
}
/***********************/

.blue {
    color:var(--new-colour) !important;
    font-weight:700;
}
.footer-bottom {
    align-items:flex-end;
    padding-block:2rem;
}

.author-wrapper img {
    width:100px;
}
.author-wrapper p {
    line-height:1;
}
.author-wrapper a {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap:0.75rem;
}



.first-titles {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.first-titles p {
    font-weight:bold;
    color:white;
    color:var(--new-colour);
}
.first-titles h2 {
    font-size:var(--heading-two);
    color:black;
}

.text {
    background-color:var(--new-colour);
    color:white;
}
.text .wrapper {
    position:relative !important;
    padding-block:8rem;

}
.text h2 {
    font-size:var(--heading-two)
}
.text .watermark {
    font-size:300px !important;
    font-weight:900;
    letter-spacing:0rem !important;
    opacity:0.05;
    position:absolute;
    line-height:1 !important;
    pointer-events:none;
    z-index:0 !important;
    color:white;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
}
@media (max-width:700px) {
    .text .wrapper {
        padding-inline:2rem;
    }
}
@media (max-width:500px) {
    .text .wrapper {
        padding-inline:1rem;
    }
    .text h2 {
        font-size:var(--mobile-heading-two);
    }
}
@media (max-width:394px) {
    .first,
    .second,
    .third,
    .fourth {
        grid-template-columns: 1fr;
    }
}



section {
    overflow-x:hidden !important;
}